h1{
    color: gold;   
    text-align: center;
 }   

 body{
    background-color: rgb(114, 99, 99);
 }

 h2{
    color: rgb(26, 145, 224);
 }

 .rang{
    color: rgb(50, 205, 179);
 }